<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">

    <title th:text="#{global.name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
	
    <link href="http://cdn.jsdelivr.net/webjars/jquery-ui/1.10.4/themes/base/minified/jquery-ui.min.css"
          th:href="@{/webjars/jquery-ui/1.10.4/themes/base/minified/jquery-ui.min.css}"
          rel="stylesheet" media="screen" />
          
	<link href="../static/css/main.css"
          th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
          
          
          
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
            
    <script src="http://cdn.jsdelivr.net/webjars/jquery-ui/1.10.4/ui/minified/jquery-ui.min.js"
            th:src="@{/webjars/jquery-ui/1.10.4/ui/minified/jquery-ui.min.js}"></script>
            
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/lodash/4.15.0/lodash.min.js"
            th:src="@{/webjars/lodash/4.15.0/lodash.min.js}"></script>
            
    
</head>
<body>
</body>
</html>