<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container-full">
	<div class="row">
	    <div class="col-sm-2">
	         <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	    </div>
	    <div class="col-sm-10">
		<span class="new" sec:authorize="hasAnyAuthority('SUPERADMIN', 'SITE_ADMIN')"><a href="#" th:href="@{'/medias/new'}" th:text="#{global.new}"></a></span>
		    <div class="table-container" th:if="${not #lists.isEmpty(medias)}">
		        <h2><p th:text="#{medias.media_list}"></p></h2>
		        <span class="new" sec:authorize="hasRole('ROLE_ADMIN')"><a href="#" th:href="@{'/medias/new'}" th:text="#{global.new}"></a></span>
		        <table class="table table-striped">
		            <tr>
		                <th><p th:text="#{global.id}"></p></th>
		                <th><p th:text="#{medias.media_name}"></p></th>
		                <th><p th:text="#{medias.media_version}"></p></th>
		                <th><p th:text="#{global.view}">View</p></th>
		                <th><p th:text="#{global.edit}">Edit</p></th>
		            </tr>
		            <tr th:each="media : ${medias}">
		                <td th:text="${media.id}"><a href="/page/${page.id}"></a></td>
		                <td th:text="${media.name}"></td>
		                <td th:text="${media.version}"></td>
		                <td><a th:href="@{/medias/{id}(id=${media.id})}" th:text="#{global.view}">View</a></td>
		                <td><a th:href="@{/medias/edit/{id}(id=${media.id})}" th:text="#{global.edit}">Edit</a></td>
		            </tr>
		        </table>
		
		    </div>
	    </div>
    </div>
</div>

</body>
</html>